.App {
  height: 1000px;
}

.Paint{
  height: 900px;
}

.Draw{
  margin-bottom: 30px;
  margin-top: 250px;
  margin-left: 45%;
}

.flex-box{

}

.myTitle{
  margin-left: 29%;
}

.Guess{
  margin-left: 45%;
}
