.wrapper{
  width: 320px;
  border:  none;
  height: 670px;
}

.chat-room{
  width: 280px;
}

.chatArea{
  height: 600px;
  margin: 0 0;
  position: relative;
}

.chatHistory{
  height: 500px;
  width: 270px;
  position: relative;
  left: -19px;
}
